* {
  background-color: #FDF4D2;
}

nav {
  font-family: Verdana;
  color: black;
  float: none;
  text-align: center;
}

.navb a {
  display: block;
  padding: 14px 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  float: none;
  display: inline-block;
  margin: 20px;
}

.navb a:hover {
  color: #ECA71A;
}

.form {
  text-align: center;
}

.top {
  font-family: Verdana
}


.text {
  font-family: Helvetica;
}

.button {
  font-family: Verdana;
  font-size: 15px
  border:
}

.button:hover {
  background-color: #FFCE42;
}
